/* .background{
    width: 1920px;
    height: 1088px;
    padd
    background-color: #99a7a2;
} */
html{

}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}


.background1{
    width: 100%;
    height: 100%;
    opacity: 0.702;
    background-color: #dfe5e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-table{   
    width: 362px;
    height: 768px;
    margin: 2%;
    position: relative;
    padding-top: 50px;
}

/* Price radius box */
.price-box1{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #ffffff;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 37px;
    color: #2196f7;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
}
.price-box2{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #2c2e3d;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 37px;
    color: #d74498;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
}
.price-box3{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #ffffff;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 37px;
    color: #32ad1e;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
}
.price-box1 p{
    margin: 0px !important;
}
.price-box2 p{
    margin: 0px !important;
} 
.price-box3 p{
    margin: 0px !important;
}



.price-subtitle{
    font-size: 16px;
    line-height: 25px;
    color: #99a9b5;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: center;
}
/* .price{
    font-size: 32px;
    line-height: 37px;
    color: #2196f7;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
} */
/* sub box */
.descripe-box{
    opacity: 0.702;
    width: 362px;
    height: 272px;
    background-color: #393d50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripe-box p{
    margin: 0px !important;
}
/* dropout theme */
.ocean{
    background-image: url(static/image/ocean.png);
}
.mountain{
    background-image: url(static/image/mountain.png);
}
.forest{
    background-image: url(static/image/forest.png);
}
.descripe-first-subtitle{
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}
.descripe-second-subtitle{
    font-size: 14px;
    line-height: 25px;
    color: #b6c6c9;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: center;
}
/* dropout */
.drop-out{
    width: 362px;
    height: 768px;
    background-color: #ffffff;
}
.dropout-text{
    width: 180px;
    height: 331px;
    font-size: 16px;
    line-height: 50px;
    color: #5f727f;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: center;
    display: contents;
}
.dropout-text p{
    margin: 0px !important;
}
.dropout-text p:nth-child(odd){
    width: 362px;
    height: 50px;
    background-color: #f4f6f7;
}
/* button */
.btn{
    cursor: pointer;
}
.btn-1{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #2196f7;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #2196f7;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 13%;
    margin-left: 26%;
}
.btn-2{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #6c136f;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #6c136f;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 13%;
    margin-left: 26%;
}
.btn-3{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #32ad1e;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #32ad1e;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 13%;
    margin-left: 26%;
}
.btn-1:hover{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    width: 170px;
    height: 50px;
    background-color: #2196f7;
    margin-top: 13%;
    margin-left: 26%;
}
.btn-2:hover{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    width: 170px;
    height: 50px;
    background-color: #6c136f;
    margin-top: 13%;
    margin-left: 26%;
}
.btn-3:hover{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    width: 170px;
    height: 50px;
    background-color: #32ad1e;
    margin-top: 13%;
    margin-left: 26%;
}
.button{    
    width: 170px;
    height: 50px;
    background-color: #973f59;
    border: 1px solid #6c136f;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    color: #6c136f;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}
/* dropout-subtitle */
.subcription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.subcription p {
    margin: 0px !important;

}
.subtitle{
    font-size: 24px;
    line-height: 37px;
    color: #5f727f;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
}
.second-subtitle{
    font-size: 14px;
    line-height: 25px;
    color: #99a9b5;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: center;
}
/* New-pick */
.new{
    width: 66px;
    height: 66px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    position: absolute;
    z-index: 1;
    transform: translate(-15px,-15px);
    background-image: url(static/image/newmark.png);
}
.new-title{
    position: absolute;
    transform: translate(55%,-5%);
}


/* responsive */
@media only screen and (min-width: 1025px) {
    /* For normal desktop: */
    .background1 {
      width: 100%;
    }
  }